header  {
    font-size: 125%;
    background-color: var(--primary-focus);
    color: whitesmoke;
    height: fit-content;
}

.inactive {
    display: none;
}

.botoninicio {
    width: 60px;
    height: 60px;
    margin-top: 3%;
}

footer {
    font-size: 125%;
    background-color: var(--primary-focus);
    position: bottom;
}

.cabecera {
    margin: auto;
    text-align: center
}

h1 {
    text-align: center;
}

.imagen {
    height: 40%;
    margin-bottom: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.cartera {
    color: black;
    max-height: 50%;
    overflow-y: auto;
}