<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Filled">-->

    <title>CriptoWallet</title>
</head>
<body>
    <header>
        <div class="container">
            <button id="BTN-Inicio" class="inactive botoninicio"><span class="material-icons">home</span></button>
        </div>
    </header>
    
    <section id="cartera" class="container inactive" >
        <h1>Mi Wallet</h1>
        <table class="cartera">
            <thead>
                <tr>
                    <th>Criptomoneda</th>
                    <th>Cantidad</th>
                    <th>Valor compra</th>
                    <!--<th>Valor actual</th>-->
                </tr>
            </thead>
            <tbody id="tbody-cartera" class="container">
                
            </tbody>
        </table>
        
    </section>

    <section id="transacciones" class="container inactive">
        <h1>Historial Transacciones</h1>
        <table class="cartera">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Moneda origen</th>
                    <th>Cantidad origen</th>
                    <th>Moneda destino</th>
                    <th>Cantidad destino</th>
                </tr>
            </thead>
            <tbody id="tbody-transacciones" class="container">

            </tbody>
        </table>
        <table class="fondos">
            <thead>
                <tr>
                    <th>Inversion realizada</th>
                    <!--<th>Retorno</th>-->
                </tr>
            </thead>
            <tbody id="tbody-inversion" class="container">
                
            </tbody>
        </table>
    </section>

    
    <section id="compraventa" class="container inactive">
        <h1>Compra/Venta</h1>
        <form name="compra" id="myForm">
            <div class="grid">
                <label for="origen">Moneda Origen</label>
                <select id="origen" required>
                    <option value selected="selected">Elige moneda...</option>
                    <option>ATOM</option>
                    <option>BCH</option>
                    <option>BNB</option>
                    <option>BTC</option>
                    <option>ETH</option>
                    <option>EUR</option>
                    <option>LINK</option>
                    <option>LUNA</option>
                    <option>SOL</option>
                    <option>USDT</option>
                </select>
                <input id="cantidad_origen" inputmode="decimal" type="number" min="0" step="0.01" placeholder="0.00" value="">
            </div>
            <div class="grid">
                <label for="destino">Moneda Destino</label>
                <select id="destino" required>
                    <option value selected="selected">Elige moneda...</option>
                    <option>ATOM</option>
                    <option>BCH</option>
                    <option>BNB</option>
                    <option>BTC</option>
                    <option>ETH</option>
                    <option>EUR</option>
                    <option>LINK</option>
                    <option>LUNA</option>
                    <option>SOL</option>
                    <option>USDT</option>
                </select>
                <input id="cantidad_destino" inputmode="decimal" type="number" min="0" step="0.01" placeholder="0.00" value="">
            </div>
            
            <button id="submit">Aceptar</button>
        </form>
    </section>
    
    <section class="container">
        <h1 id="mensaje-inicio">Bienvenido, ¿Qué quieres hacer?</h1>
        <div class="grid">
            <button id="BTN-Wallet">Wallet</button><button id="BTN-Transaciones">Historial Transacciones</button><button id="BTN-CompraVenta">Comprar/Vender</button>
        </div>
    </section>
    
    <footer>
        <div class="container">
            @ 2022. Juan Gabriel Martínez
        </div>
    </footer>
    
    
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>