<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>CriptoWallet</title>
</head>
<body>
    <header>
        
        <div class="container">
            <h1 class="cabecera">CriptoWallet</h1>
        </div>
    </header>
    <div class="container">
        <button id="BTN-Inicio" class="inactive botoninicio"><span class="material-icons">home</span></button>
    </div>
    <section id="cartera" class="container inactive" >
        <h1>Mi Wallet</h1>
        <table class="cartera">
            <thead>
                <tr>
                    <th>Criptomoneda</th>
                    <th>Cantidad</th>
                    <th>Valor actual</th>
                    <!--<th>Valor actual</th>-->
                </tr>
            </thead>
            <tbody id="tbody-cartera" class="container">
                
            </tbody>
        </table>
        <table class="fondos">
            <thead>
                <tr>
                    <th>Inversion realizada</th>
                    <th>Retorno</th>
                </tr>
            </thead>
            <tbody id="tbody-inversion" class="container">
                
            </tbody>
        </table>
        
    </section>

    <section id="transacciones" class="container inactive">
        <h1>Historial Transacciones</h1>
        <table class="cartera">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Moneda origen</th>
                    <th>Cantidad origen</th>
                    <th>Moneda destino</th>
                    <th>Cantidad destino</th>
                </tr>
            </thead>
            <tbody id="tbody-transacciones" class="container tablas">

            </tbody>
        </table>
    </section>

    
    <section id="compraventa" class="container inactive">
        <h1>Compra/Venta</h1>
        <form name="compra" id="myForm" >
            <div class="grid">
                <label for="origen">Moneda Origen</label>
                <select id="origen" >
                    <option value selected="selected">Elige moneda...</option>
                    <option id="atom-origen">ATOM</option>
                    <option id="bch-origen">BCH</option>
                    <option id="bnb-origen">BNB</option>
                    <option id="btc-origen">BTC</option>
                    <option id="eth-origen">ETH</option>
                    <option id="eur-origen">EUR</option>
                    <option id="link-origen">LINK</option>
                    <option id="luna-origen">LUNA</option>
                    <option id="sol-origen">SOL</option>
                    <option id="usdt-origen">USDT</option>
                </select>
                <input id="cantidad_origen" inputmode="decimal" type="number" min="0" step="0.01" placeholder="0.00" value="" disabled="true" >
            </div>
            <div class="grid">
                <label for="destino">Moneda Destino</label>
                <select id="destino" disabled="true" >
                    <option value selected="selected">Elige moneda...</option>
                    <option id="atom-destino">ATOM</option>
                    <option id="bch-destino">BCH</option>
                    <option id="bnb-destino">BNB</option>
                    <option id="btc-destino">BTC</option>
                    <option id="eth-destino">ETH</option>
                    <option id="eur-destino">EUR</option>
                    <option id="link-destino">LINK</option>
                    <option id="luna-destino">LUNA</option>
                    <option id="sol-destino">SOL</option>
                    <option id="usdt-destino">USDT</option>
                </select>
                <input id="cantidad_destino" inputmode="decimal" type="number" min="0" step="0.01" placeholder="0.00" value="" disabled="true" >
                
            </div>
            <div>
                <button id="calcular">Calcular</button>
                <button id="submit" disabled>Aceptar</button>
                <button id="cancelar">Cancelar</button>
            </div>
            
        </form>
    </section>
    
    <section class="container" id="mensaje-inicio">
        <h1>Bienvenido, ¿Qué quieres hacer?</h1>
        <img class="imagen" src="https://d3lkc3n5th01x7.cloudfront.net/wp-content/uploads/2021/10/22005930/Crypto-Wallet-Development-Solution.svg">
        
    </section>
    <section class="container">
        <div class="grid">
            <button id="BTN-Wallet">Wallet</button><button id="BTN-Transacciones">Historial Transacciones</button><button id="BTN-CompraVenta">Comprar/Vender</button>
        </div>
    </section>
    
    <footer>
        <div class="container">
            @ 2022. Juan Gabriel Martínez
        </div>
    </footer>
    
    
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>